.radio {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  

  &__input {
    appearance: none;
  }

  &__checkmark {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px $dark-shade-25;
    transition: box-shadow .4s ease-in-out;
    cursor: pointer;
  }

  &__input:checked + &__checkmark {
    box-shadow: inset 0 0 0 1px $purple,
                inset 0 0 0 3px $white,
                inset 0 0 0 10px $purple;
    
  }
}