.button {
  padding-top: 10px;
  padding-bottom: 9px;

  &--white {
    background-color: transparent;
    border: 1px solid $purple;

    color: $purple;
  }

  &--purple {
    background-image: $purple-bgc;
    color: $white;
  }
}

.nav-button {
  padding-left: 19px;
  padding-right: 19px;
}

.form-button {
  background-image: $purple-bgc;
  color: $white;
  
  width: 100%;
  margin-bottom: 30px;

  position: relative;

  &::after {
    content: url("./static/images/arrow_forward(white).svg");
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}

