.header {
  box-shadow: 0px 1px 2px $dark-shade50;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__logo {
    flex: 0 1 48%;
  }

  &__nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 0 1 27%;
  }

  &__nav-link {
    line-height: 17px;

    &--current {
      text-shadow:0px 0px 1px $dark-shade100;
    }
  }
}