// colors

$dark-shade100: #1F2041;
$dark-shade75: rgba(31, 32, 65, 0.75);
$dark-shade50: rgba(31, 32, 65, 0.5);
$dark-shade25: rgba(31, 32, 65, 0.25);
$dark-shade5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$white: #FFF;
$black: #000; 

$purple-bgc: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$green-bgc: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
// typography 

$main-font: 'Quicksand', sans-serif;
$secondary-font: 'Montserrater', sans-serif;
$font-color: $dark-shade100;

$h1: (
  font-family: $main-font,
  font-style: normal,
  font-weight: bold,
  font-size: 24px,
  line-height: 30px,
  color: $font-color,
  text-transform: none
);

$h2: (
  font-family: $main-font,
  font-style: normal,
  font-weight: bold,
  font-size: 19px,
  line-height: 24px,
  color: $font-color,
  text-transform: none
);

$h3: (
  font-family: $secondary-font,
  font-style: normal,
  font-weight: bold,
  font-size: 12px,
  line-height: 15px,
  color: $font-color,
  text-transform: uppercase
);

$body: (
  font-family: $secondary-font,
  font-style: normal,
  font-weight: normal,
  font-size: 14px,
  line-height: 24px,
  color: $dark-shade75,
  text-transform: none
);

$placeholder: (
  font-family: $secondary-font,
  font-style: normal,
  font-weight: normal,
  font-size: 14px,
  line-height: 18px,
  color: $dark-shade25,
  text-transform: none
);

@mixin typography ($font-family, $font-style, $font-weight, $font-size, $line-height, $color, $text-transform){
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-transform: $text-transform;
}

