//adding vars and mixins
@import "./variables";

// common styles

body {
  @include typography ($body...);
}

a { 
  text-decoration: none;
  @include typography ($body...);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

form {
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

input[type=text]{
  width: 100%;
  background-color: $white;
  padding: 13px 15px;
  border: transparent;
  border-radius: 4px;
  border: 1px solid $dark-shade25;

}

::placeholder {
  color: $dark-shade25;
}

button {
  @include typography ($h3...);

  border: none;
  border-radius: 22px;
}

// adding components 

@import "./radio/radio";
@import "./rating/rating";
@import "./room-search-form/room-search-form";
@import "./button/button";
@import "./toggle/toggle";
@import "./registration-form/registration-form";


@import "./footer/footer";
@import "./header/header";