//adding vars and mixins
@import "./variables";

// common styles

a { 
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

// adding components 

@import "./radio/radio";
@import "./rating/rating";
@import "./room-search-form/room-search-form";


@import "./footer/footer";