.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  &__nav-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 100px;
  }

  &__nav-col {
    width: 260px;
  }

  &__section-title {
    @include typography($h3...);
    margin-top: 0;
    margin-bottom: 21px;
  }

  &__links {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__link {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  &__text {
    margin-top: 0;
  }

  &__link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: $dark-shade50;
  }
}

.copyright-bar {
  width: 100%;
  box-shadow: 0 -1px 0 $dark-shade50;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__text {
    @include typography ($body...);
    line-height: 17px;

    margin: 0;
  }

  &__social-links {
    width: 100%;
    max-width: 112px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}