<footer class="footer">
  <section class="footer__nav-section container">
    <div class="footer__nav-col">
      <a href="#" class="footer__link">
        <img src="./static/images/logo.svg" alt="logo" class="footer__logo">
      </a>
      <p class="footer__text">
        Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      </p>
    </div>
    <div class="footer__nav-col">
      <h3 class="footer__section-title">навигация</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">О нас</a>
        </li>
        <li>
          <a href="#" class="footer__link">Новости</a>
        </li>
        <li>
          <a href="#" class="footer__link">Служба поддержки</a>
        </li>
        <li>
          <a href="#" class="footer__link">Услуги</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav-col">
      <h3 class="footer__section-title">о нас</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">О сервисе</a>
        </li>
        <li>
          <a href="#" class="footer__link">Наша команда</a>
        </li>
        <li>
          <a href="#" class="footer__link">Вакансии</a>
        </li>
        <li>
          <a href="#" class="footer__link">Инвесторы</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav-col">
      <h3 class="footer__section-title">Служба поддержки</h3>
      <ul class="footer__links">
        <li>
          <a href="#" class="footer__link">Соглашения</a>
        </li>
        <li>
          <a href="#" class="footer__link">Сообщества</a>
        </li>
        <li>
          <a href="#" class="footer__link">Связь с нами</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav-col">
      <h3 class="footer__section-title">подписка</h3>
      <p class="footer__text">
        Получайте специальные предложения и новости сервиса
      </p>
    </div>
  </section>
  <section class="copyright-bar">
    <div class="copyright-bar__wrapper container">
      <p class="copyright-bar__text">Copyright © 2018 Toxin отель. Все права защищены.</p>
      <ul class="copyright-bar__social-links">
        <li><a href="#" class="copyright-bar__social-link">
          <img src="./static/images/twitter.svg" alt="twitter">
        </a></li>
        <li><a href="#" class="copyright-bar__social-link">
          <img src="./static/images/facebook.svg" alt="facebook">
        </a></li>
        <li><a href="#" class="copyright-bar__social-link">
          <img src="./static/images/instagram.svg" alt="instagram">
        </a></li>
      </ul>
    </div>
  </section>
</footer>